

  <div class="jumbotron main_page">
    <div class="center-container">
    <h1>Welcome to Bloggers World!</h1>
    <p class="welcome-text">This is an example of a blogging website.</p>

    <!--<%= image_tag "blog.jpg"  %>-->


      <%= render 'layouts/mainbody' %>



  </div>
</div>

